$blue: #B4F4F9;
$green: #D6F6CB;
$orange: #FFC9AD;
$pink: #FDC3DD;
$purple: #CFCAE3;

$dark-color: #000;
$light-color: #f1f1f1;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');
$base-font: "Roboto", sans-serif;
